<h1>Ordem de Vendas</h1>
<div class="item">
	<p>
		<strong>Nome do Comprador: </strong>
		<%= @ordem.nome_do_comprador %>
	</p>
	<p>
		<strong>Valor do item: </strong>
		<%= @ordem.valor_do_item %>
	</p>
	<p>
		<strong>Quantidade: </strong>
		<%= @ordem.quantidade %>
	</p>
	<p>
		<strong>Descricao do item: </strong>
		<%= @ordem.descricao_do_item %>
	</p>
	<p>
		<strong>Nome do vendedor: </strong>
		<%= @ordem.nome_do_vendedor %>
	</p>
	<p>
		<strong>Endereco do vendedor: </strong>
		<%= @ordem.endereco_do_vendedor %>
	</p>
	
</div>

